<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>

    <div>
        <h1>Homepage</h1>
        <div>
            <div>
                <br>
                <span><a class="btn btn-primary" th:href="@{/user?type=new}">Registrati</a></span>
                <span><a class="btn btn-primary" th:href="@{/user?type=login}">Login</a></span>
            </div> 
        </div>
    </div>
</body>
</html>